
@font-face {
  font-family: "customFont";
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2207-01@1.0/HBIOS-SYS.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

html {
  background: rgb(131, 58, 180);
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
button{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body {
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
  background: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.background {
    padding-right: 20px;
    position: relative;
    width: auto;
    height: auto;
}
#background {
  width: 660px;
  height: 730px;
}
canvas {
  position: absolute;
  top: 100px;
  left: 30px;
  cursor: url("img/whitedot-466075.png"), pointer;
  width: 600px;
  height: 600px;
  background-color: white;
  border-radius: 10px;
  cursor: crosshair;
}

button {
  margin-top: 30px;
}
input {
  margin-top: 30px;
}
#toolbar {
  width: 100px;
  height: 600px;
  display: flex;
  flex-direction: column;
}
#buttons {
  width: 100px;
  height: 600px;
  display: flex;
  flex-direction: column;
}

.colorbar {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
}

.colorRadioBtn {
  width: 50px;
  transition: width 0.1s linear;
  height: 50px;
  cursor: pointer;
  border-radius: 25px;
}
.color-option {
  width: 50px;
  transition: width 0.1s linear;
  height: 50px;
  cursor: pointer;
  border-radius: 25px;
}
input#line-width {
  width: 100%;
  margin-top: 0;
}
input#color {
  width: 100%;
}
#buttons {
    width: 327px;
    height: 958px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 20px;
}

button,
.button,
.text {
  cursor: pointer;
  all: unset;
  width: 299px;
  height: 50px;
  /* border: solid 1px black; */
  /* text-align: center; */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: mediumpurple;
  border-radius: 25px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
#file {
  display: none;
}
.text {
  display: flex;
  flex-direction: column;
}
#text {
  border: none;
  color: black;
}
input {
  color: white;
  margin-top: 0;
}
/* .colorWrapper {
  border-radius: 25px;
  width: 50px;
  height: 50px;
  outline: red solid 1px;
} */

.colorWrapper {
  display: inline-block;
  width: 50px;
  height: 50px;
  cursor: pointer;

  border-radius: 25px;
  transition: width 0.2s linear;
}
.colorWrapper:hover {
  width: 100%;
}

input[type="radio"] {
  display: none;
}

input[type="radio"]:checked.color-option + label {
  width: 100%;
}

button:hover,
.button:hover {
  background-color: pink;
}

/* 
 */

* {
  box-sizing: border-box;
}

.post-it {
     width: 300px;
    height: 274px;
    position: relative;
    background: #ffa;
    overflow: hidden;
    margin: 20px auto;
    padding: 15px;
    border-radius: 0 0 0 30px/45px;
    box-shadow: inset 0 -40px 40px rgb(0 0 0 / 20%), inset 0 25px 10px rgb(0 0 0 / 20%), 0 5px 6px 5px rgb(0 0 0 / 20%);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    line-height: 1.7em;
    font-size: 19px;
    /* -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC); */
    color: #130d6b;
    margin-right: 30px;
}


.post-it li {
  cursor: pointer;
}

.post-it:before {
  content: "";
  display: block;
  position: absolute;
  width: 20px;
  height: 25px;
  background: #ffa;
  box-shadow: 3px -2px 10px rgba(0, 0, 0, 0.2),
    inset 15px -15px 15px rgba(0, 0, 0, 0.3);
  left: 0;
  bottom: 0;
  z-index: 2;
  transform: skewX(25deg);
}

.post-it:after {
  content: "";
  display: block;
  position: absolute;
  width: 75%;
  height: 20px;
  border-top: 3px solid #130d6b;
  border-radius: 50%;
  bottom: 0px;
  left: 10%;
}

.done {
  text-decoration: line-through;
}

h1 {
  font-size: 25px;
  position: relative;
}

.textFont {
  box-sizing: border-box;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  background-color: mediumpurple;
  text-align: center;
  line-height: 50px;
  margin: 0;
  padding: 0;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.fontSelection {
  display: block;
}
.radiosFont {
  display: flex;
  justify-content: space-around;
  width: 300px;
}

.radiosFont label:nth-of-type(1) {
  font-family: "Courier New", Courier, monospace;
}
.radiosFont label:nth-of-type(2) {
  font-family: Arial;
}
.radiosFont label:nth-of-type(3) {
  font-family: serif;
}
input[type="radio"]:checked.textRadio + label {
  background-color: pink;
}
.textFont:hover {
  background-color: pink;
  cursor: pointer;
}
.textCustom {
  all: unset;
  width: 100px;
  height: 50px;
  /* border: solid 1px black; */
  /* text-align: center; */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: mediumpurple;
  border-radius: 25px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
#font {
  display: none;
}

input#font-size {
  width: 300px;
}

.inputwrapper {
  border: 3px solid white;
  background-color: white;
}
input#text {
  color: black;
}

.text.button {
  height: 80px;
  border-radius: 40px;

}
label.button {
  cursor: pointer;
}
button#save-btn {
    cursor: pointer;
}

li {
  font-size: 14px;
}
